
body, html {
  height: 100%;
  background-color: #5b5b5b;
}


#cross{
	  
  display: inline-block;
}
#target{
  top:10px;
  position: absolute;
  display: inline-block;
}
#canvas{
  height: 100%;
}
/*
#canvas:hover{
  cursor: none;
}*/
.hole{
  position: absolute;
}
